/* Common */
.o_activity_checklist {
    &.o_field_widget {
        display: block;
    }

    .checklist_title {
        text-align: center;
    }
    .checklist_checkbox{
        float: right;
    }

    ul li{
        list-style: square inside none;
        margin: 10px 300px 10px 20px;
    }


    .o_thread_date_separator {
        margin-top: 15px;
        margin-bottom: 30px;
        @media (max-width: @screen-xs-max) {
            margin-top: 0px;
            margin-bottom: 15px;
        }
        border-bottom: 1px dashed @gray-lighter-darker;
        text-align: center;

        .o_thread_date {
            position: relative;
            top: 10px;
            margin: 0 auto;
            padding: 0 10px;
            font-weight: bold;
            background: white;
        }

        .btn-group {
            .o_checklist_done {
                padding-left: 0;
            }
        }
        
        &[data-toggle="collapse"] {
            cursor: pointer;

            &.collapsed {
                margin-bottom: 0;
                .o-transition(margin, 0.8s);

                .o_chatter_checklist {
                    display: inline-block;

                    span {
                        padding: 0 5px;
                        border-radius: 100%;
                        font-size: 11px;
                    }
                }
                i.fa-caret-down:before {
                    content: '\f0da';
                }
            }
        }
    }
}