.project_task_materials_report .border-div{
    border: 1px solid black;
}

.project_task_materials_report .productsTable td {
    text-align: center;
}
.project_task_materials_report .table-bordered td, .table-bordered th{
    border-color: #000 !important;
}

.project_task_materials_report .infoTable th {
    border-color: #000 !important;
}

.project_task_materials_report .workTable td {
    height: 40px;
}